*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

:root{
    --title:6rem;

}

body{
    background:#2B3557;
    color:white;
}

/* HEADER*/
header{
    width:60%;
    margin:auto;
    text-align: center;
}

h1{
    margin:2rem;
    font-size: var(--title);
}
/* DISPLAY */
.display{
    min-height:25vh;
    width:40%;
    margin:auto;
    border:0.8rem white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp-answer{
    font-size:3rem;
}
/* BOX */
.box{
    min-height:10vh;
    width:30%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:3rem;
}

.blue-box{
    background:#63BADF;
}

.red-box{
    background:#F85F5F;
}

.score-card{
    display: flex;
    margin:2rem;
}

p{
    font-size:var(--title);
}

.semi{
    margin-left:1rem;
    margin-right: 1rem;
}
/* ICONS */
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    padding:1rem;
    margin:2rem;
    width:15%;
}

img:hover{
    background:#212941;
    border-radius: 35%;
    cursor: pointer;
}

@media screen and (max-width:1024px) and (min-width:501px){
    html{
        font-size: 70%;
    }
    header{
        width:80%;
    }
    .display{
        width:90%;
    }

    img{
        width:25%;
    }
}

@media screen and (max-width:500px){
    html{
        font-size: 45%;
    }
    header{
        width:80%;
    }

    .display{
        width: 100%;
    }

    img{
        width:25%;
    }
}